body {
    font-family:'Arial', sans-serif;
    padding-bottom: 150px;
    padding-top: 5px;
    font-size: 15px;
}
.bar {
    fill: steelblue;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.container {
    margin-left: 5px;
}
.line {
    fill: none;
    stroke-width: 2px;
    text-anchor: 'end';
    stroke: black;
      /*shape-rendering: crispEdges;*/
}

.line.arrival{
    stroke-dasharray: 2, 2;
}

.line.vel{
    stroke: green;
    opacity: .65;
}

.scatterDot circle {
    stroke: none;
    fill:'crimson';
}
/*.barChart.x.axis text {
    fill: none;
}*/
.tip {
    color: white;
    background-color: #222;
    pointer-events: none;
    padding: 8px;
    position: absolute;
    font-size: 13px;
    border: 0px;
    border-radius: 2px;
    z-index: 1000;
    opacity: 0;
    /*width: 100px;*/
}
.tip table {
    margin-bottom: 0px;
}

.lineLabel{
    font-size: 14px;
}